body {background-color: #212121; margin: 0; padding: 0;}
h1, h2, h3, h4, p {color: #fff}

.secondary-darker-color {background-color: #171717;}





.who-am-i-photo {
    max-width: 100%;
    border-radius: 50%;
}