

.background-animation
{
  width: 100vw;
  height: 100vh;
}

.background-body
{
  background-image: radial-gradient(#021027, #000000);
  width: 100vw;
  height: 100vh;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  overflow-y: hidden;
}


.circle-container
{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.particles
{
  position: relative;
  display: flex;
}

.particles span
{
  position: relative;
  width: 20px;
  height: 20px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate-1 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  animation-delay: -10s;
  z-index: -100;
}

.particles span:nth-child(even)
{
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}

@keyframes animate-1 {
  0%
  {
    transform: translateY(-10vh) scale(0);
  }
  100%
  {
    transform: translateY(100vh) scale(1);
  }
}


.title
{
  position: absolute;
  top: 45vh;
  left: 39vw;
  font-size: 25px;  
}

.title h2 
{
  color: white;
  position: absolute;
  left: 1vw;
}

h1 {
  color: white;
}
